<h1>My BBS</h1>
<ul>
  <% @comments.each do |comment| %>
  <li data-id="<%= comment.id %>">
    <%= comment.body %>
    <span class="delete">[x]</span>
    <form action="confirm" method="POST">
      <div>
        <input type="text" name="commentid" value="<%= comment.id %>">
      </div>
      <div>
        <input type="submit" value="更新する">
      </div>
    </form>
  </li>
  <% end %>
</ul>
<form action="/create" method="post">

  <input type="text" name="body">
  <input type="submit" value="Add comment">
</form>
